body:has(.dashboard--base) {
    overflow-x: hidden;
}


/* ========================================== */
/* DASHBOARD HEAD */
/* ========================================== */
.dashboard--header {
    height: 7rem;
    padding: 0 3rem;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.hamburger--icon {
    background-color: #ddd;
    padding: 0.48rem;
    border-radius: 0.2rem;
    display: none;
    cursor: pointer;
}
.hamburger--icon {
    font-size: 2.4rem;
}
.logo--container {
    width: 7.5rem;
}
.logo--container img {
    width: 100%;
}

.nav--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 1.8rem;
}

.nav--input {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    border: 1.4px solid #E8E8E8;
    border-radius: 0.48rem;
    overflow: hidden;
    transition: all .3s;
}
.nav--input:hover {
    border-color: var(--color-brand-primary);
}

.nav--input input {
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
    font-family: inherit;
}
.nav--input input:focus,
.nav--input input:focus-within {
    border: none;
    outline: none;
}
.nav--input svg {
    color: #8C8C8C;
    font-size: 1.8rem;
}

.nav--search {
    display: none;
}
.nav--search,
.nav--notification {
    cursor: pointer;
}
.nav--search svg,
.nav--notification svg {
    font-size: 2.4rem;
    color: #545454;
}

.nav--notification.notification {
    position: relative;
}
.nav--notification.notification::after {
    /* content: ""; */
    content: attr(data-count);
    display: inline-block;
    width: 1.42rem;
    height: 1.42rem;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    /*  */
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--auth {
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
    transition: all .35s;
    position: relative;
    background-color: transparent;
    border: none;
}
.auth--info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    color: var(--grey);
}
.auth--name {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #4C4C4C;
}
.auth--role {
    font-size: 1rem;
    color: #B4B4B4;
}


/* ========================================== */
/* DASHBOARD BASE */
/* ========================================== */
.dashboard--base {
    transition: all .3s ease;
    padding-top: 7rem;
}


/* ========================================== */
/* DASHBOARD SIDEBAR */
/* ========================================== */
.dashboard--menu {
    width: 25rem;
    padding: 2rem 1rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-width: auto;
    transition: all .3s ease;

    height: 100vh;
    position: fixed;
    top: 7rem;
    left: 0;
    bottom: 0;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.menu--item {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    gap: .6rem;
    color: var(--grey);
    background-color: transparent;
    padding: 1rem;

    transition: 
        color .35s,
        background-color .35s,
        border-color .35s
    ;
    text-decoration: none;
    cursor: pointer;
    border-radius: .2rem;
    position: relative;
}

.menu--item:hover {
    background-color: var(--white-2);
    color: var(--grey);
}
.menu--item.is-active,
.menu--item.is-active:hover {
    background-color: var(--color-brand-primary);
    color: var(--white);
}

.menu--icon svg {
    font-size: 2.1rem;
    align-self: center;
}
.menu--text {
    font-size: 1.48rem;
    font-weight: 500;
    color: inherit;
    display: flex;
    align-items: center;
    letter-spacing: -0.15px;
}

.menu--arrow {
    margin-left: auto;
}


/* ========================================== */
/* CONTENT BLOCK */
/* ========================================== */
.content--block {
    padding: 4rem 2.4rem 3rem;
    overflow-x: hidden;
    width: calc(100% - 25rem);
    margin-left: auto;
    transition: all .3s;
    min-height: 100vh;
    background-color: #F9FAFB;
}




/* ========================================== */
/*  */
/* ========================================== */
.dashboard--sidemenu {
    min-width: 34rem;
    height: 100vh;
    background-color: #fff;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    
    padding: 3.8rem 1.8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-right: 1.2px solid var(--border-color);

    overflow-y: auto;
    scrollbar-width: none;
    z-index: 115;
    transition: all .3s ease;
    animation: menu-slide-in .25s ease-out both;
    opacity: 1; 
    transform: translateX(0);
}

@keyframes menu-slide-in {
    0% {
        opacity: 0.5; transform: translateX(-40rem);
    }
    100% {
        opacity: 1; transform: translateX(0); 
    }
}
@keyframes menu-slide-out {
    0% { opacity: 1; transform: translateX(0); }
    100% { transform: translateX(-40rem); }
}
  
.dashboard--sidemenu.animate-out {
    animation: menu-slide-out 0.25s ease-out forwards;
}

.dashboard--sidemenu .hamburger--icon {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
}








/* ========================================== */
/* MEDIA QUERIES */
/* ========================================== */
@media screen and (max-width: 1050px) {
    .dashboard--menu {
        width: 20rem;
    }
    .content--block {
        width: calc(100% - 20rem);
    }

    .insight--grid {
        gap: 1.28rem !important;
    }
}


@media screen and (max-width: 950px) {
    .dashboard--menu {
        display: none;
    }
    .content--block {
        width: 100%;
    }
    
    .hamburger--icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 600px) {
    .dashboard--header {
        padding: 0 1.8rem;
    }
    .content--block {
        padding: 4rem 1.8rem 3rem;
    }

    .dashboard--header,
    .nav--container {
        gap: 1.28rem;
    }

    .logo--container,
    .logo--container img {
        width: 9rem;
    }

    .nav--auth .auth--info,
    .nav--input {
        display: none;
    }
    .nav--search {
        display: block;
    }

    .dashboard--sidemenu {
        min-width: 100%;
    }
}