@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 63%;
}

body {
	font-family: "Urbanist", sans-serif;
	background-color: #fff;
	font-size: 1.6rem;
	line-height: 1;
	font-weight: 400;
	color: #444;
	width: 100%;
	transition: none !important;
}

:root {
    --border-color: #d4d7db;
    --white: #fff;
    --white-2: #f5f5f5;
    --grey: #5c636d;

    --color-brand-light: #2A72FB;
    --color-brand-primary: #00419C;
    --color-brand-dark: #132B4B;
}

ul, ol {
	list-style: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
	transition: all .3s;
}

a,
form,
input,
button,
textarea,
select {
	font-family: inherit;
	color: inherit;
}

a:hover {
	color: inherit;
}

input::placeholder {
  color: #aaa;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

button:has(svg) {
	line-height: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
	line-height: 1.2;
}

input[type="file"] {
	display: none;
}

input[type="email"] {
	text-transform: lowercase;
}

input:disabled {
	opacity: 0.7;
	cursor: help;
}

img {
	max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select, textarea, input {
		font-size: 16px;
	}
}

textarea {
	height: 9rem;
	resize: none;
    scrollbar-width: none;
}
textarea::placeholder {
	line-height: 1.4;
	color: #aaa;
}

option[hidden] {
	color: #aaa;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

body:has(.modal),
body:has(.spinner--container),
body:has(.global--overlay) {
	height: 100vh;
	overflow-y: hidden !important;
	transition: all .3s !important;
}

::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	background: none;
	border: none;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

#chart {
	margin-left: -1.5rem;
	width: 100%;
}

.flex-col-1,
.flex-col-2,
.flex-col-3,
.flex-col-0-8 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.flex-col-0-8 {
	gap: 0.8rem;
}
.flex-col-2 {
	gap: 2rem;
}
.flex-col-3 {
	gap: 3rem;
}

.flex-col-gap {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.align-flex-end {
	align-items: flex-end;
}

.flex-align-cen {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.28rem;
}
.flex-align-top {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 0.28rem;
}

.flex-align-justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-align-justify-spabtw {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-align-start-justify-spabtw {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.gap-0-6 {
	gap: 0.68rem;
}
.gap-1 {
	gap: 1rem;
}
.gap-1-2 {
	gap: 1.28rem;
}
.gap-2 {
	gap: 2rem;
}

.sub-text {
	font-size: 1rem;
	color: #B4B4B4;
	text-align: center;
}

.pointer {
	cursor: pointer;	
}

.card {
    border-radius: .7rem;
    max-width: 100%;
	width: 100%;
    padding: 2rem 1.8rem;
    border: 1px solid #eff2f7;
    min-height: 10rem;
	background-color: #fff;
}

.no-data {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: #5c636d;
	text-align: center;
}

.rating-star {
	color: orange;
	font-size: 1.8rem;
}
.verified-true svg {
	background-color: #DCFAE6;
	color: #77C87C;
}
.verified-false svg {
	color: #F56464;
}


.section--top {
	margin-bottom: 1rem;
}
.section--top a {
    font-size: 1.28rem;
    font-weight: 500;
    color: #444;
    text-decoration: none;
    color: var(--color-brand-primary);
}
.section--heading {
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    gap: 1rem;
}
.section--heading h2 {
    font-weight: 600;
    font-size: 1.68rem;
    text-transform: capitalize;
}
.section--heading p {
    font-size: 1.34rem;
    line-height: 1.3;
    color: #888;
    font-weight: 500;
}
.section--heading p span {
    font-weight: 700;
    color: #555;
}
.section--icon {
	color: #A4A7AE;
	cursor: pointer;
}



.spinner--container {
	width: 100%;
	height: 100vh;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	z-index: 200;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	transition: all 0.2s;
}

.global--overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;

	background-color: rgba(0, 0, 0, 0.15);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	cursor: pointer;
}


.modal {
	padding: 2.4rem;
	background-color: #fff;
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	box-shadow: 0 0 2px #00000040, 0 0 10px #0000000d;
	z-index: 100;
	animation: zoom-in 1s ease-in-out;
}

@keyframes zoom-in {
	0% {
		transform: translate(-50%, -50%) scale(0.35);
		opacity: 0;
	}
	15% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

/* SIMPLE NORMAL MODAL */
.modal.confirm {
	min-height: 25rem;
	width: 42.5rem;
	border-radius: 0.68rem;
}
.modal.confirm .modal--body {
	gap: 1.2rem;
	text-align: center;
}

.modal.basic--modal {
	width: 45rem;
	min-height: 30rem;
	border-radius: 2.4rem;
}
.half-screen {
	width: 65rem;
	padding: 3rem 2.4rem 2.4rem;
	background-color: #fff;
	position: fixed;
	box-shadow: 0 0 2px #00000040, 0 0 10px #0000000d;
	top: 0;
	right: 0;
	min-height: 100vh;
	transform: translateX(0);
	animation: drawer-side-in .35s ease-in-out;
	z-index: 100;
	height: 100%;
	overflow-y: auto;
}
@keyframes drawer-side-in {
    0% { opacity: 1; transform: translateX(50rem); }
    100% { transform: translateX(0rem); }
}


.modal--content {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	gap: 1.4rem;
}
.modal--head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.2rem;
}
.modal--body {
	display: flex;
	flex-direction: column;
}
.modal--title {
	font-weight: 600;
	font-size: 2rem;
}
.modal--subtext {
	font-size: 1.42rem;
	color: #667085;
}
.modal--head svg {
	font-size: 2.4rem;
	cursor: pointer;
}

.modal--icon {
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 4.8rem;
	height: 4.8rem;
	position: relative;
	margin-bottom: 1rem;
}
.modal--icon::before {
	width: 130%;
	height: 130%;
	border-radius: 50%;
	display: inline-block;
	content: "";
	position: absolute;
	z-index: -1;
}

.modal--icon.warn {
	background-color: #ffcac7;
	color: #D92D20;
}
.modal--icon.warn::before {
	background-color: #FEF3F2;
}
.modal--icon.success {
	color: #2CDA94;
}
.modal--icon.success {
	background-color: #C7F1E0;
}

.modal--icon svg {
	font-size: 4rem;
}


.modal--list {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	align-items: flex-start;
	gap: 0.48rem;
}
.modal--list p {
	font-weight: 600;
	font-size: 1.46rem;
}


.modal--actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 4rem;
}

.modal--btn {
	padding: 1rem 1.4rem;
	font-size: 1.6rem;
	font-weight: 500;
	width: 100%;
	border-radius: 0.48rem;
}
.modal--btn.black-outline {
	color: var(--color-brand-dark);
	box-shadow: inset 0 0 0 0.14rem var(--color-brand-dark);
}
.modal--btn.outline {
	color: var(--color-brand-primary);
	box-shadow: inset 0 0 0 0.14rem var(--color-brand-primary);
}
.modal--btn.filled {
	color: #fff;
	background-color: var(--color-brand-primary);
}
.modal--btn.remove {
	color: #fff;
	background-color: #F56464;
}
.modal--btn.outline-remove {
	color: #F56464;
	box-shadow: inset 0 0 0 0.14rem #F56464;
}
.modal--btn.blured {
	color: #fff;
	background-color: #B4B4B4;
}






.breadcrums {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: #B4B4B4;
	transition: all .3s;
}

.breadcrums a:hover {
	color: #515151;
	text-decoration: underline;
}
.breadcrums .current {
	color: var(--color-brand-dark);
}


/* ========================================== */
/*  */
/* ========================================== */
.dropdown {
    min-width: 20rem;
    padding: 1rem 0 0.8rem;
    background-color: var(--white);
    border-radius: .4rem;

    display: flex;
    flex-direction: column;
    gap: .6rem;
    position: absolute;
    top: 5rem;
    right: -1rem;
    box-shadow: 0 0 20px #0000000d;
    z-index: 100;
}

.dropdown--item,
a.dropdown--item {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1rem 1.6rem;
    font-weight: 500;
    color: #515151;
}
.dropdown--item,
.dropdown--item svg {
    transition: all .35s;
}



.auth--img {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}
img.auth--img {
    object-fit: 100%;
    background-color: #eee;
}
span.auth--img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: var(--color-brand-primary);
    color: #fff;
    text-transform: uppercase;
}

.uploader--icon {
	width: 3rem;
	height: 3rem;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;
	border-radius: 50%;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.uploader--icon svg {
	font-size: 2rem;
	color: var(--color-brand-primary);
	cursor: pointer;
}

.uploader--close-icon {
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 2rem;
	color: #D92D20;
}


.show-online {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #30CA85;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}



/* ==== */

.home--content {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.insight--grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.6rem;
}
.insight--grid.grid-3 {
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
}
.insight--grid.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
}

.insight--card {
	min-height: 5rem;
	border: 1.4px solid #E8E8E8;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1.8rem;
	border-radius: 0.8rem;
	background-color: #fff;
	transition: all .3s;
}

.insight--card:hover {
	transform: scale(1.05) translateY(-0.5rem);
}
.insight--top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.insight--title {
	font-size: 1.6rem;
	font-weight: 500;
	color: #696969;
}
.insight--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 0.48rem;
}
.insight--icon svg {
	font-size: 2rem;
}

.insight--card:nth-child(1) .insight--icon {
    background-color: #ECF3FF;
}
.insight--card:nth-child(1) .insight--icon svg {
    color: #316DC0;
}

.insight--card:nth-child(2) .insight--icon {
    background-color: #FFF9F9;
}
.insight--card:nth-child(2) .insight--icon svg {
    color: #F56464;
}

.insight--card:nth-child(3) .insight--icon {
    background-color: #F7EFFF;
}
.insight--card:nth-child(3) .insight--icon svg {
    color: #A855F7;
}

.insight--card:nth-child(4) .insight--icon {
    background-color: #E0FFEC;
}
.insight--card:nth-child(4) .insight--icon svg {
    color: #22C55E;
}


.insight--value {
	font-size: 2rem;
	font-weight: 600;
}
.insight--extra {
	font-size: 1.28rem;
	color: #696969;
}

.status {
	padding: 0.8rem;
	border-radius: 0.6rem;
	border: 1px solid transparent;

	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
}
.status p {
	font-size: 1.34rem;
	text-transform: capitalize;
}
.status--high,
.status--inactive,
.status--failed,
.status--rented {
	border-color: #de8282;
	background-color: #ffe4e4;
}
.status--high p,
.status--inactive p,
.status--failed p,
.status--rented p {
	color: #ff0000;
}
.status--resolved,
.status--active,
.status--accepted,
.status--completed,
.status--published,
.status--available,
.status--success {
	border-color: #ABEFC6;
	background-color: #ECFDF3;
}

.status--active p,
.status--resolved p,
.status--accepted p,
.status--completed p,
.status--published p,
.status--available p,
.status--success p {
	color: #067647;
}

.status--meduim,
.status--pending,
.status--unverified,
.status--unpublished,
.status--processing {
	border-color: #FEDF89;
	background-color: #FFFAEB;
}
.status--medium p,
.status--pending p,
.status--unverified p,
.status--unpublished p,
.status--processing p {
	color: #B54708;
}

.status--free,
.status--default {
	background-color: #eee;
	border-color: #ccc;
}
.status--low,
.status--open,
.status--premium {
	border-color: #132B4B;
	background-color: #DBEAFE;
}
.status--low p,
.status--open p,
.status--premium p {
	color: #132B4B;
}

.status--default p {
	color: #444;
}


.table--title {
    font-size: 1.84rem;
    font-weight: 600;
    color: var(--color-brand-dark);
    margin-bottom: 2rem;
}
.table-spinner-container {
	width: 100%;
	padding: 10rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.table--btn {
	padding: 0.68rem 0.8rem;
	font-weight: 500;
	cursor: pointer;
	color: var(--white);
	border-radius: 1rem;
}
.table--btn.success {
	background-color: var(--color-brand-dark);
	margin-right: 1rem;
}
.table--btn.cancel {
	background-color: #F56464;
}
.table--btn:disabled {
	opacity: 0.6;
}

.services--flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.68rem;
	width: 25rem;
}
.service--item {
	padding: 0.4rem 0.8rem;
	font-size: 1.28rem;
	font-weight: 600;
	background-color: rgba(233, 233, 233, 1);
	border-radius: 1rem;
}


.error--container,
.empty--box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
	gap: 1.2rem;
	opacity: 0.85;
	background-color: #F9FAFB;
	color: #B4B4B4;
	text-align: center;
}

.empty--box {
	padding: 8rem 2rem;
}

.error--container {
	padding: 6rem 2rem;
}

.error--container p,
.empty--box p {
	font-size: 1.48rem;
	line-height: 1.4;
}
.empty--box svg {
	font-size: 8rem;
}

.error--container svg {
	font-size: 5rem;
	color: #D92D20;
}






.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.pagination_info {
	font-size: 1.3rem;
	color: #696969;
}

.pagination_btn {
    background-color: transparent;
    font-weight: 600;
    border: none;
    padding: 0.68rem;
    border-radius: .28rem;
    font-size: 1.48rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    cursor: pointer;
	border: 1px solid #888;
}
.pagination_btn svg {
	font-size: 1.8rem;
}
.pagination_btn:disabled {
	opacity: 0.3;
    cursor: not-allowed;
}

span.pagination_el {
	border-radius: .28rem;
    width: 3.2rem;
    height: 3.2rem;
	font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	border: 1px solid #888;
	color: #555;
}
.pagination_el.active {
    font-weight: 600;
    background-color: var(--color-brand-primary);
    color: #fff;
}


/* ================================================== */
/* MEDIA QUERIES */
/* ================================================== */
/* 
@media screen and (max-width: 825px) {
	.insight--grid {
		grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
   	.insight--grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
   	.insight--grid {
        grid-template-columns: 1fr;
        gap: 1rem !important;
    }
	.insight--card:hover {
		transform: none;
	}
} */