.home--section .form--select {
    align-self: flex-end;
    width: fit-content;
    padding: 0.6rem;
}
.home--top {
    margin-bottom: 2rem;
    gap: 0.4rem;
}
.home--top,
.top--heading {
    display: flex;
    flex-direction: column;
}

.top--heading {
    gap: 0.6rem;
}
.top--heading .title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-brand-primary);
}
.top--heading .text {
    color: #989898;
}


.home--grid {
    /* margin-top: 1.8rem; */
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 4fr 1.8fr;
    gap: 1rem;
}
.grid--left,
.grid--right {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.home--flex {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
}

.top--info {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.6rem 0.8rem;
    border-radius: 10rem;
}

.chart-element {
    height: 20.5rem;
    min-width: 50%;
}

/* ======================================= */
.activity--item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;
    padding-right: 0.8rem;
    border-radius: 0.4rem;
}
.activity--item:hover {
    background-color: #f9f9f9;
}
.activity--icon svg {
    font-size: 4rem;
    color: var(--color-brand-primary);
}
.activity--info {
    display: flex;
    flex-direction: column;
    gap: 0.48rem;
}
.activity--info .title {
    font-size: 1.6rem;
    font-weight: 500;
}
.activity--info .description {
    color: #535862;
    font-size: 1.34rem;
}

.activity--date {
    font-size: 1.34rem;
    margin-left: auto;
    color: #666666;
    min-width: fit-content;
}





.listing--item,
.payment--item {
    display: flex;
    align-items: center;
    gap: 0.68rem;
    padding: 0.28rem 0.4rem;
    border-radius: 0.4rem;
}
.listing--item:hover,
.payment--item:hover {
    background-color: #f9f9f9;
}

.listing--img {
    width: 4.2rem;
    height: 4rem;
    border-radius: 0.24rem;
    background-color: #eee;
}

.listing--info,
.payment--info {
    display: flex;
    flex-direction: column;
    gap: 0.48rem;
}

.listing--info:last-child,
.payment--info:last-child {
    margin-left: auto;
    text-align: right;
}
.listing--info .title,
.payment--info .title {
    font-weight: 600;
    font-size: 1.5rem;
}
.listing--info .description,
.payment--info .description,
.payment--info .date {
    font-size: 1.32rem;
    color: #535862;
}
.listing--info .value,
.payment--info .value {
    font-size: 1.36rem;
    color: #3B82F6;
    font-weight: 500;
}
.listing--info .period {
    font-size: 1rem;
    color: #666666;
    font-weight: 500;
}


.task--group {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}


.task-card .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.28rem;
}
.task-card .description {
    font-size: 1.26rem;
    color: #989898;
}






/* ================================================== */
/* MEDIA QUERIES */
/* ================================================== */
/* @media screen and (max-width: 1050px) {
    .home--flex {
        flex-direction: column;
    }
}


@media screen and (max-width: 950px) {
    .home--grid {
        grid-template-columns: 4fr 2.2fr;
    }
}


@media screen and (max-width: 800px) {
    .home--grid {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
    .home--flex {
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    .home--flex {
        flex-direction: column;
        gap: 1.6rem;
    }
}


@media screen and (max-width: 500px) {
    .home--section .form--select {
        align-self: flex-start;
    }
    .home--top {
        gap: 2rem;
        margin-bottom: 1rem;
    }
} */